html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  display: block;
  text-align: center;
  width: 100px;

}

section {
  float: left;
  width: 25%;
  line-height: 1.5;
}

h1 {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

h2 {
  font-size: .875em;
  font-weight: bolder;
}

h3 {
  font-size: .875em;
  font-style: italic;
}

p {
  font-size: .875rem;
}
